@import "../../../scss/_variables";
$bg-color: #424242;
$hl-color: #FFFFFF;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 320px;

.maincontent{
    background-color:$header-background-color;
    color: #FFFFFF;
    width: 100%;
    min-height: 88%;
  }
  .content{
     margin: auto;
     padding: 10px;
     width: 85%;
  }
  @media only screen and (max-width: 600px) {
    .content{
        margin: auto;
        padding: 10px;
        width: 100%;
     }

     .details p{
        margin: 1px 0rem;
        font-size: 1.3rem;
        margin-top: 7% !important;
      }

      .headingFirst{
        font-size: 1.9rem;
        font-weight: 700;
        line-height: 1.8rem;
      }
  }
@media only screen and (min-width: 393px) and (min-height: 851px) {
    .maincontent{
     height: -webkit-fill-available;
   }
 }
 @media only screen and (min-width: 390px) and (min-height: 844px) {
   .maincontent{
    height: -webkit-fill-available;
  }
 }

  .headingFirst{
    font-size: 2.0rem;
    font-weight: 700;
    line-height: 1.8rem;
  }

  .details p{
    margin: 1px 0rem;
    font-size: 1.3rem;
    margin-top: 2% !important;
  }
  .details a{
    font-size: 1.3rem;
    font-weight: 500;
    color: #60f0f8;
    text-decoration: underline;
  }

  .email-wrapper{
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0.5rem 0 2.5rem;
    overflow: hidden;
  }

  .email-wrapper label{
    label {
        color: mix(white, $bg-color, 70%);
        font-size: 20px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
      //   left: 5px;
        top: 10px;
        transition: $trans-time ease all;
      }
}

input,
textarea {
  background: none;
  color: white;
  font-size: 24px;
  padding: 20px 10px 0px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #FFFFFF;
  &:focus {
    outline: none;
  }
  &:focus ~ label,
  &:valid ~ label {
    top: -14px;
    font-size: 17px;
    color: #FFFFFF;
  }
  &:focus ~ .bar:before {
    width: $width;
  }
}

.button{
    display: block;
    width: 100%;
    padding: 0.5rem 0;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 3.2rem;
    letter-spacing: 0;
    color: #100030;
    text-align: center;
    text-decoration: none;
    background-color: #f050f8;
    border: 0.2rem solid #f050f8;
    border-radius: 0.8rem;
    box-shadow: none;
    transition: .15s linear;
}

.button:hover{
    //   background-color:#ef40f8;
      transition: 0.15s;
      background-color:#ed2df8;
}

.button:disabled{
      background-color:#f082f6;
}

.align-center{
    text-align: center;
}

.align-center a{
    font-weight: 500;
    color: #60f0f8;
    text-decoration: underline;
}


