<section class="maincontent">
    <div class="container">
        <div class="content">
            <div class="header">      
                <h1 class="h1-class">Great value for the long term,</h1>
                <h1 class="h1-class"> not just the fixed term.</h1>
            </div> 
            <div class="row mt-4 mb-5 pt-6">
                <div class="col-md-12">
                <form [formGroup]="postcodeform" autocomplete="off">
                    <label for="quote-input" class="form-join__label">Enter your postcode to get a quote:</label>
                    <div class="quote-postcode form-join">
                        <input type="text" class="form-join__input" name="postcode" id="" formControlName="postcode" placeholder="Your postcode" autocomplete="off">
                        <button type="submit" class="button form-join__button" value=""  (click)="onSubmit()">Get a quote</button>
                    </div>
                </form>
                </div>
            </div>
            <div class="row" style="padding-top: 3rem;">
                    <div class="col-md-4">
                        <img
                            src="assets/icons/logos/which-recommended-supplier-2022.f6c263dddcf9.svg"
                            class="svg"
                            alt="A logo for the Which? recommended energy provider for 2022"
                            loading="lazy"
                            height="158"
                            width="190"
                        >
                    </div>
                    <div class="col-md-4">
                        <img
                            src="assets/icons/logos/awards/uswitch-supplier-of-the-year.77619944190b.svg"
                            class="svg"
                            alt="A logo for the Which? recommended energy provider for 2022"
                            loading="lazy"
                            height="159"
                            width="285"
                        >
                    </div>
                    <div class="col-md-4">
                        <img
                            src="assets/icons/logos/awards/rea-company-of-the-year.59614d4025b6.svg"
                            class="svg"
                            alt="A logo for the Which? recommended energy provider for 2022"
                            loading="lazy"
                            height="162"
                            width="238"
                        >
                    </div>
                </div>

                <div class="row pt-2">
                    <div class=" col-md-4 award-list-item">
                        <img src="assets/icons/icon-award.838dad3e918b.svg" alt="" width="24"/>
                        <span>2022 &middot; 2021 &middot; 2020 &middot; 2019 &middot; 2018</span>
                    </div>
                    <div class="col-md-4 award-list-item">
                        <img src="assets/icons/icon-award.838dad3e918b.svg" alt="" width="24"/>
                        <span>2022 &middot; 2021 &middot; 2020 &middot; 2019 &middot; 2018</span>
                    </div>
                    <div class="col-md-4 award-list-item">
                        <img src="assets/icons/icon-award.838dad3e918b.svg" alt="" width="24"/>
                        <span>2022 &middot; 2021 &middot; 2020 &middot; 2019 &middot; 2018</span>
                    </div>
                </div>

                <div class="row pt-3">
                    <div class=" col-md-4 award-list-item1">
                        <h3 class="h4">Great value for the long term</h3>
                        <p>Our standard prices have <strong>always</strong> been cheaper than any of the old &ldquo;Big 6&rdquo;</p>
                    </div>
                    <div class="col-md-4 award-list-item1">
                        <h3 class="h4">We won't leave you hanging</h3>
                        <p>We've answered your calls within <strong>2 minutes</strong> on average over the past year</p>
                    </div>
                    <div class="col-md-4 award-list-item1">
                        <h3 class="h4">100% green</h3>
                        <p>All our electricity comes from <strong>100% renewable sources</strong> like sun, wind and water</p>
                    </div>
                </div>
            </div>
        </div>
</section>
<section class="customer-service-section pt-5">
    <div class="container">
        <div class="row trustpilot-content">
            <h2 class="trustpilot__title reset">Rated 5 stars for customer service from 133,927 reviews.</h2>
                <p class="mb-2">
                    <a href="https://uk.trustpilot.com/review/octopus.energy" target="_blank" rel="noopener noreferrer">
                        <img
                            src="assets/icons/logos/trustpilot.ad3682a039bc.svg"
                            class="trustpilot-logo svg"
                            alt="Trustpilot logo"
                            loading="lazy"
                        />
                    </a>
                </p>
        <div class="img mb-5"> 
            <img
                src="assets/icons/trustpilot-star.a0707dd6feb2.svg"
                class="trustpilot-star svg"
                alt="An icon of a star"
                aria-hidden="true"
                loading="lazy"
            />
            <img
                src="assets/icons/trustpilot-star.a0707dd6feb2.svg"
                class="trustpilot-star svg"
                alt="An icon of a star"
                aria-hidden="true"
                loading="lazy"
            />
            <img
                src="assets/icons/trustpilot-star.a0707dd6feb2.svg"
                class="trustpilot-star svg"
                alt="An icon of a star"
                aria-hidden="true"
                loading="lazy"
            />
            <img
                src="assets/icons/trustpilot-star.a0707dd6feb2.svg"
                class="trustpilot-star svg"
                alt="An icon of a star"
                aria-hidden="true"
                loading="lazy"
            />
            
                <img
                    src="assets/icons/trustpilot-star.a0707dd6feb2.svg"
                    class="trustpilot-star svg"
                    alt="An icon of a star"
                    aria-hidden="true"
                    loading="lazy"
                />
            </div> 
    </div>
    </div>
</section>
<section class="maincontent">
    <div class="container">
        <div class="content">
            <div class="header">      
                <p>Energy for every need.</p>
                <h2>All our smart tariffs feature 100%</h2>
                <h2 class="mb-5">renewable electricity and no exit fees.</h2>
                <h3 class="mb-4">Smart tariffs for smart meters</h3>

            </div> 
            <div class="row pt-4  tarrif-content">
                    <div class="col-md-4">
                        <h4>agile<strong>Octopus</strong></h4>
                        <p>Half-hourly electricity prices that update daily based on wholesale costs.</p>
                        <p><strong>Shift your energy use outside the 4-7pm peak to save money.</strong></p>
                        <a
                            href="agile/index.html"
                            data-gtm="agile_octopus_quote"
                            aria-label="Find out more about the Agile Octopus tariff"
                            class="button"
                        >
                            Find out more
                        </a>
                    </div>
                    <div class="col-md-4">
                        <h4><strong>Octopus</strong>go</h4>
                        <p>Four hours of super low off-peak electricity every night from 00:30-04:30am.</p>
                        <p style="margin-bottom: 85px;"><strong>Perfect for charging an electric vehicle.</strong></p>
                        <a
                            href="go/index.html"
                            data-gtm="octopus_go_quote"
                            aria-label="Find out more about the Octopus Go tariff"
                            class="button"
                        >
                            Find out more
                        </a>
                    </div>
                    <div class="col-md-4">
                        <h4>Intelligent<strong>Octopus</strong></h4>
                        <p style="margin-bottom: 66px;">Six hours of smart charging every night at a super low rate. You tell us what time you need your car by, and we'll make sure it's ready on the very greenest energy.</p>
                        <a
                            href="smart/intelligent-octopus/index.html"
                            data-gtm="intelligent_octopus_quote"
                            aria-label="Find out more about the Intelligent Octopus tariff"
                            class="button"
                        >
                            Find out more
                        </a>
                    </div>
                </div>
                <!-- <div class="row smart-tariff-banner">
                    <div>
                    <a href="works-with-octopus/index.html#smart_tariffs" class="smart-tariff-banner__link">
                        <div class="col-md-6 smart-tariff-banner__img-container">
                            <img
                                loading='lazy'
                                src="assets/icons/home-dashboard-banner.e23e56255985.svg"
                                class="smart-tariff-banner__img svg"
                                alt="Group of smart product illustrations"
                            >
                        </div>
                        <div class="col-md-6 smart-tariff-banner__text-container">
                            <span class="smart-tariff-banner__text">View all our smart tariffs</span>
                            <img
                                src="assets/icons/arrow-right.893bc6df98f1.svg"
                                class="smart-tariff-banner__arrow svg"
                                alt=""
                            >
                        </div>
                    </a>
                </div>
                </div> -->
            </div>
        </div>
</section>
<section class="switching-contentdiv">
    <div class="container">
        <div class="content">
            <div class="header">      
                <p>Four simple steps to a cleaner switch.</p>
                <h2 class="mb-2">Switching has never been easier.</h2>
            </div> 
            <div class="row pt-4  switching-content">
                    <div class="col-md-3">
                        <img src="assets/icons/switching-points/engineer.31fae21546ba.svg" alt="A screwdriver and a spanner" class="svg logo-benefit" loading="lazy">
                        <p>No engineer or installer visits</p>
                    </div>
                    <div class="col-md-3">
                        <img src="assets/icons/switching-points/supply.17233c4791bb.svg" alt="A kettle plugged into an outlet" class="svg logo-benefit" loading="lazy">
                        <p>No disruption to your supply</p>
                    </div>
                    <div class="col-md-3">
                        <img src="assets/icons/switching-points/information.160a0f3766cd.svg" alt="A mobile phone with an octopus outline on display" class="svg logo-benefit" loading="lazy">
                        <p>We'll inform your old supplier</p>
                    </div>
                    <div class="col-md-3">
                        <img src="assets/icons/switching-points/awards.bf8b189a46b9.svg" alt="A happy globe holding an award" class="svg logo-benefit logo-benefit--fees" loading="lazy">
                        <p>Award-winning customer service</p>
                    </div>
                </div>
                <div class="mt-3 Guarantee-img-div">
                    <img src="assets/icons/logos/switch-guarantee.e1a56c4c96c0.svg" alt="" class="svg svg-fill--white align-center—image logo-switch-guarantee" loading="lazy">
                    <p class="pb-5 switch-guarantee--text">Backed by the <a href="blog/what-energy-switch-guarantee-means-you/index.html">Energy Switch Guarantee</a>, you can be confident that things will run smoothly and that you&#39;re making the right move.</p>
                </div>
            </div>
        </div>
</section>
<section class="wider-community-div pb-5">
    <div class="container">
        <div class="content">
            <div class="header">      
                <p>Our wider community.</p>
                <h2 class="mb-2">The latest from the Octoverse</h2>
            </div> 
            <div class="row pt-4 energy-crisis-content">
                    <div class="col-md-3">
                        <div class="card">
                            <h3 class="card__hero" id="octoverse-1-title">Energy crisis help</h3>
                            <p style="padding-bottom: 80px;">Energy prices are at record highs. Visit our page for information, support and FAQs.</p>
                            <a
                                href="blog/energy-crisis-information/index.html"
                                data-gtm="card_octopus_energy_crisis"
                                aria-labelledby="octoverse-1-title"
                                class="find-button"
                            >
                                Find out more
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card--news">
                            <h3 class="card__hero" id="octoverse-2-title">Careers at Octopus</h3>
                            <p style="padding-bottom: 80px;">We&apos;re hiring for hundreds of roles across the UK &mdash; Find out more</p>
                            <a
                                href="careers/index.html"
                                data-gtm="card_careers_at_octopus"
                                aria-labelledby="octoverse-2-title"
                                class="button-find"
                            >
                                Find out more
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <h3 class="card__hero" id="octoverse-3-title">What makes us so green?</h3>
                            <p>Discover all the ways we&apos;re driving renewable energy transformation.</p>
                            <a
                                href="green/index.html"
                                data-gtm="card_green_blog_more"
                                aria-labelledby="octoverse-3-title"
                                class="find-button"
                            >
                                Find out more
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card--news">
                            <h3 class="card__hero" id="octoverse-4-title">Navigation Bar</h3>
                            <p style="padding-bottom: 80px;">Discover a world of smart products that can help you live greener, cheaper and better.</p>
                            <a
                                href="works-with-octopus/index.html"
                                data-gtm="card_works_with_octopus_more"
                                aria-labelledby="octoverse-4-title"
                                class="button-find">
                                Find out more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<section class="switching-contentdiv mb-5">
    <div class="container">
        <div class="content">
            <div class="header">      
                <p>Don't take our word for it.</p>
                <h2 class="pb-4">As featured by</h2>
            </div> 
            <div class="row  tarrif-content">
                <div class="col-md-4">
                    <div  class="featuredby-content">
                        <p>Four hours of super low off-peak electricity every night from 00:30-04:30am.</p>
                        <p style="margin-bottom: 85px;"><strong>Perfect for charging an electric vehicle.</strong></p>
                    </div>
                </div>
                <div class="col-md-4">
                <div  class="featuredby-content">
                    <p>Four hours of super low off-peak electricity every night from 00:30-04:30am.</p>
                    <p style="margin-bottom: 85px;"><strong>Perfect for charging an electric vehicle.</strong></p>
                </div>
                </div>
                <div class="col-md-4">
                    <div  class="featuredby-content">
                        <p>Four hours of super low off-peak electricity every night from 00:30-04:30am.</p>
                        <p style="margin-bottom: 85px;"><strong>Perfect for charging an electric vehicle.</strong></p>
                    </div>               
                </div>
            </div>
            <div class="row pt-4  tarrif-content pb-5">
                <div class="col-md-4">
                    <div  class="featuredby-content">
                        <p>Four hours of super low off-peak electricity every night from 00:30-04:30am.</p>
                        <p style="margin-bottom: 85px;"><strong>Perfect for charging an electric vehicle.</strong></p>
                    </div>   
                </div>
                <div class="col-md-4">
                    <div  class="featuredby-content">
                        <p>Four hours of super low off-peak electricity every night from 00:30-04:30am.</p>
                        <p style="margin-bottom: 85px;"><strong>Perfect for charging an electric vehicle.</strong></p>
                    </div>   
                </div>
                <div class="col-md-4">
                    <div  class="featuredby-content">
                        <p>Four hours of super low off-peak electricity every night from 00:30-04:30am.</p>
                        <p style="margin-bottom: 85px;"><strong>Perfect for charging an electric vehicle.</strong></p>
                    </div>   
                </div>
            </div>
            </div>
        </div>
</section><br><br>