@import "../../../scss/_variables";
$bg-color: #424242;
$hl-color: #FFFFFF;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 320px;

.maincontent{
    background-color:$header-background-color;
    color: #FFFFFF;
    width: 100%;
    height: -webkit-fill-available;
  }
  .content{
     margin: auto;
     padding: 10px;
     width: 85%;
  }
  
  .headingFirst{
    padding-bottom: 5px;
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 1.8rem;
  }

  .details a{
    font-size: 1.3rem;
    font-weight: 500;
    color: #60f0f8;
    text-decoration: underline;
  }

  $bg-color: #424242;
  $hl-color: #FFFFFF;
  $muted-color: mix(white, $bg-color, 70%);
  $trans-time: 300ms;
  $width: 320px;
  
  *,
  :before,
  :after {
    box-sizing: border-box;
  }
  
  body {
    background: $bg-color;
  }
  
  .group {
    position: relative;
    margin: 10px 0;
  }
  
  input,
  textarea {
    background: none;
    color: white;
    font-size: 18px;
    padding: 20px 10px 0px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #809298;;
    &:focus {
      outline: none;
    }
    &:focus ~ label,
    &:valid ~ label {
      top: -14px;
      font-size: 21px;
      color: #FFFFFF;
    }
    &:focus ~ .bar:before {
      width: $width;
    }
  }
  
  .inputcheckbox {
    width: auto;
    display: inline;
    transform: scale(2);
    margin-left: 5px;
    margin-top: 1.6rem;
    margin-right: 10px;
  }
  input[type="password"] {
    letter-spacing: 0.3em;
  }
  
  .group label {
    color: mix(white, $bg-color, 70%);
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
  //   left: 5px;
    top: 10px;
    transition: $trans-time ease all;
  }
.sendEmailBtn{
    display: block;
    width: 100%;
    padding: 0.5rem 0;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 3.2rem;
    letter-spacing: 0;
    color: #100030;
    text-align: center;
    text-decoration: none;
    background-color: #f050f8;
    border: 0.2rem solid #f050f8;
    border-radius: 0.8rem;
    box-shadow: none;
    transition: .15s linear;
}

.align-center{
    text-align: center;
}

.align-center a{
    font-weight: 500;
    color: #60f0f8;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .content{
        margin: auto;
        padding: 10px;
        width: 100%;
     }

     .details p{
        margin: 1px 0rem;
        font-size: 1.3rem;
        margin-top: 7% !important;
      }

      .maincontent{
        background-color:$header-background-color;
        color: #FFFFFF;
        width: 100%;
        height: 100%;
      }
}
.emailtext p{
  display: block;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 400;
    color: #60f0f8;
}
@media only screen and (max-width: 600px) {
  .content{
      margin: auto;
      padding: 10px;
      width: 100%;
   }
    .maincontent{
      background-color:$header-background-color;
      color: #FFFFFF;
      width: 100%;
      height: 100%;
    }
}
