<div class="maincontent">
    <div class="container">
        <div class="content">
            <div class="details mt-5 mb-5">
                <h1 class="headingFirst">Reset password</h1>
                <form [formGroup]="forgotPaswordForm" autocomplete="off">
                    <div class="row">
                        <div class="group col-md-12">
                            <input type="text" formControlName="email" name="email" required="required" />
                            <label>Email address</label>
                            <div *ngIf="(f.email.touched && f.email.invalid) || (f.email.invalid && submitted)">
                                <div style="text-align: start;" class="error" *ngIf="f.email.errors?.required">
                                    Please enter a Email Id
                                </div>
                                <div style="text-align: start;" class="error" *ngIf="f.email.errors?.pattern">
                                    Please enter a valid email address
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="emailtext col-md-12">
                            <p>We’ll send you an email with instructions on how to reset your password.</p>
                        </div>
                    </div>
                    <div class="submitBtn mt-4">
                        <!-- <button [disabled]="forgotPaswordForm.invalid" type="submit" class="sendEmailBtn" (click)="sendemail();">Send email</button> -->
                        <button  type="submit" class="sendEmailBtn" (click)="sendemail();">Send email</button>

                    </div>
                </form>
                <div class="align-center justify-content-center mt-3">
                    <h2 class="h5 mb-1">Remembered your password?</h2>
                    <a (click)="signintoaccount();">Sign in to my Utility aid Energy account</a>
                </div>
            </div>
            </div>
        </div>
    </div>