@import "../../../scss/_variables";

.maincontent{
  background-color:$header-background-color;
}
// @media (max-width: 768px) {
//     .maincontent{
//         width: 100%;
//         // height: auto;
//       }

//     //   .h3{
//     //     margin: 2rem 0 1.6rem;
//     //     font-size: 1.4rem;
//     //     line-height: 3.6rem;
//     //     letter-spacing: -.035rem;
//     // }
    
// }
// @media (max-width: 978px) {
//     .container {
//       padding:0;
//       margin:0;
//     }

// }

h3{
    text-align: center;
    margin: 1.3rem 0 1.6rem;
    font-size: 1.6rem;
    line-height: 3.6rem;
    letter-spacing: -.035rem;
    color: #60f0eb;
}
.emailquotemaindiv{
    width: 40%;
    align-items: center;
    margin-top: 20px;
    color: rgb(0, 0, 0);
}
.emailquotemaindiv a{
//   text-decoration: underline;
  text-decoration-color: #60f0eb;
  margin-top: 1rem;
  font-size: 2rem;
  
}
.emailquotemaindiv p{
    font-weight: 300;
    font-size: 1.4rem;
    margin-top: 1.4rem;
    // line-height: 2.7rem;

    // margin: 0 0 1.6rem;
    // font-size: 1.8rem;
    // line-height: 2.7rem;
  }
.emailquoteform h1{
    // // margin-top: 2.2rem;
    // font-weight: 700;
    // letter-spacing: -.1rem;
    // margin-bottom: 24px;
    // padding-top: 24px;
    padding: 0px;
    font-size: 1.9rem; 
    color: rgb(0, 0, 0); 
    line-height: 3.2rem;
    font-weight: 700;
}
// @media (min-width: 1200px) and (max-width: 768px){
// .h3, h3 {
//     font-size: 1.75rem;
// }
// }

.emailquoteform{
    padding: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(224, 247, 248);
    border-radius: 1.2rem;
    background-image: none;
}

// *,
// :before,
// :after {
//   box-sizing: border-box;
// }

// body {
//   background: $bg-color;
// }

// FORM // ============================== //
// form {
//   width: $width;
//   margin: 45px auto;
  
//   h1 {
//     font-size: 3em;
//     font-weight: 300;
//     text-align: center;
//     color: $hl-color;
//   }
//   h5 {
//     text-align: center;
//     text-transform: uppercase;
//     color: $muted-color;
//   }
//   hr.sep {
//     background: $hl-color;
//     box-shadow: none;
//     border: none;
//     height: 2px;
//     width: 25%;
//     margin: 0px auto 45px auto;
//   }
//   .emoji {
//     font-size: 1.2em;
//   }
// }

.group {
  position: relative;
  margin: 45px 0;
  margin-bottom: 20px;
}

// INPUTS // ============================== //
textarea {
  resize: none;
}

input,
textarea {
  margin-top: -31px;
  background: none;
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
  padding: 9px 0px;
  display: block;
  width: 98%;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid rgb(0, 0, 0);
  &:focus {
    outline: none;
  }
  &:focus ~ label,
  &:valid ~ label {
    top: -14px;
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
    
  }
}
label {
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
  font-weight: normal !important;
  letter-spacing: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
}

.quotebtn{
    margin-bottom: 1.6rem;
    width: 100%;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    background: rgb(240, 80, 248);
    border: 0.2rem solid rgb(240, 80, 248);
    border-radius: 0.8rem;
    outline: none;
    box-shadow: rgba(16, 0, 48, 0.24) 0px 0.2rem 0.4rem 0.2rem;
    font-size: 1.2rem;
    transition: background-color 0.2s ease-out 0s, border-color 0.2s ease-out 0s;
 }
 .myquotetext{
    text-align: center;
    margin: 1rem 0 1.6rem;
    font-size: 2.0rem;
    line-height: 3.6rem;
    letter-spacing: -.035rem;
    color: #60f0eb;
 }
 .svgimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 155px;
    width: 176px;
 }

 @media only screen and (max-width: 600px) {
  .emailquotemaindiv{
    width: 100%;
    align-items: center;
    margin-top: 20px;
    color: rgb(0, 0, 0);
}
 }
