@import "../../../scss/_variables";

.maincontent{
  background-color:$header-background-color;
  color: #FFFFFF;
  width: 100%;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.content{
   width: 65%;
   margin: auto;
   padding: 10px;
}
.details h1{
    margin-bottom: 0.8rem;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 3.4rem;
    color: rgb(240, 255, 255);
}
.details h2{
    font-size: 1.8rem;
}
// ***************************************************************************************************
$bg-color: #424242;
$hl-color: #FFFFFF;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 320px;

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  background: $bg-color;
}

// FORM // ============================== //
// form {
//   width: $width;
//   margin: 45px auto;
  
//   h1 {
//     font-size: 3em;
//     font-weight: 300;
//     text-align: center;
//     color: $hl-color;
//   }
//   h5 {
//     text-align: center;
//     text-transform: uppercase;
//     color: $muted-color;
//   }
//   hr.sep {
//     background: $hl-color;
//     box-shadow: none;
//     border: none;
//     height: 2px;
//     width: 25%;
//     margin: 0px auto 45px auto;
//   }
//   .emoji {
//     font-size: 1.2em;
//   }
// }

.group {
  position: relative;
  margin: 20px 0;
}

// INPUTS // ============================== //
textarea {
  resize: none;
}

input,
textarea {
  background: none;
  color: white;
  font-size: 18px;
  padding: 20px 10px 0px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #FFFFFF;
  &:focus {
    outline: none;
  }
  &:focus ~ label,
  &:valid ~ label {
    top: -14px;
    font-size: 21px;
    color: #FFFFFF;
  }
  &:focus ~ .bar:before {
    width: $width;
  }
}

.inputcheckbox {
  width: auto;
  display: inline;
  transform: scale(2);
  margin-left: 5px;
  margin-top: 1.6rem;
  margin-right: 10px;
}
input[type="password"] {
  letter-spacing: 0.3em;
}

.group label {
  color: mix(white, $bg-color, 70%);
  font-size: 20px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
//   left: 5px;
  top: 10px;
  transition: $trans-time ease all;
}
.radiobtnlabel{
  position: relative;
}
.bar {
  position: relative;
  display: block;
  width: $width;
  &:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: $hl-color;
    transition: $trans-time ease all;
    left: 0%;
  }
}
// ***************************************************************
// .radiobtn1{
//     width: auto;
//     position: absolute;
//     padding: 0.2rem 0.2rem 0.2rem 3.6rem;
//     margin: 0px 0px 1.6rem;
//     // align-items: start;
// }
// .radiobtn2{
//     position: absolute;
//     padding: 0.2rem 0.2rem 0.2rem 3.6rem;
//     margin: 0px 0px 1.6rem;
//     // align-items: start;
// }
// .radiobtn1 input{
// padding-left: 10px;
// }

// .wrapper-class input[type="radio"] {
//   width: 15px;
// }

// .wrapper-class label {
//   display: inline;
//   margin-left: 5px;
//   }
.body {
  position: relative;
  font-family:
    'Roboto','Helvetica','Arial',sans-serif;
}

.wrap {
  position: absolute;
  right: 0;
  top: 40%;
  width: 350px;
  left: 0;
  margin: 0 auto;
}

/* select starting stylings ------------------------------*/
.select {
  font-family:
    'Roboto','Helvetica','Arial',sans-serif;
	position: relative;
	width: 100%;
  margin-top: 22px;
}

.select-text {
  margin-top: 5px;
  color: #FFFFFF;
	position: relative;
	font-family: inherit;
	background-color: $header-background-color;
	width:100%;
	padding: 10px -1px 10px 0;
	font-size: 21px;
	border-radius: 0;
	border: none;
	border-bottom: 2px solid #FFFFFF;
}

/* Remove focus */
.select-text:focus {
	outline: none;
	border-bottom: 2px solid #FFFFFF;
}

	/* Use custom arrow */
.select .select-text {
	appearance: none;
	-webkit-appearance:none
}

.select:after {
	position: absolute;
	top: 18px;
	right: 10px;
	/* Styling the down arrow */
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #FFFFFF;
	pointer-events: none;
}


/* LABEL ======================================= */
.select-label {
  padding-left: 14px;
	color: mix(white, $bg-color, 70%);
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 10px;
	transition: 0.2s ease all;
}

/* active state */
.select-text:focus ~ .select-label, .select-text:valid ~ .select-label {
	color: #FFFFFF;
	top: -20px;
	transition: 0.2s ease all;
	font-size: 18px;
}

/* BOTTOM BARS ================================= */
.select-bar {
	position: relative;
	display: block;
	width: 350px;
}

// .select-bar:before, .select-bar:after {
// 	content: '';
// 	height: 2px;
// 	// width: 100%;
// 	bottom: 1px;
// 	position: absolute;
// 	background: #FFFFFF;
// 	transition: 0.2s ease all;
// }

.select-bar:before {
	left: 50%;
}

.select-bar:after {
	right: 50%;
}

/* active state */
.select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after {
	width: 50%;
}

/* HIGHLIGHTER ================================== */
.select-highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

.quotebtn{
  width: 100%;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  background: rgb(240, 80, 248);
  border: 0.2rem solid rgb(240, 80, 248);
  border-radius: 0.8rem;
  outline: none;
  box-shadow: rgba(16, 0, 48, 0.24) 0px 0.2rem 0.4rem 0.2rem;
  font-size: 1.4rem;
  transition: background-color 0.2s ease-out 0s, border-color 0.2s ease-out 0s;
}
.questionmarkbtn{
  width: 100%;
    margin-top: 14px;
    padding: rem 0px 1.4rem;
    font-size: 2.2rem;
    color: white;
    text-align: center;
    background-color: rgb(24, 0, 72);
    border: none;
    outline: none;
    transition: background-color 0.2s linear 0s;
    appearance: none;
}
.questionmarkbtn:hover{
  background-color: rgb(41, 0, 123);
}
.questionmarkbtn:focus {
  background-color: rgb(41, 0, 123);
  outline: none;
  animation: 3s ease 0s infinite normal none running bxXLMm;
}
.questionmarkdiv{
  padding: 2rem;
    color: white;
    text-align: left;
    background-color: rgb(24, 0, 72);
    font-family: Gotham,helvetica,arial,sans-serif;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 300;
    line-height: rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
.gettingintouchdiv{
  padding-right: 30px;
  font-family: Gotham,helvetica,arial,sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
input[type=radio] {
    border: 0px;
    width: 14px;
    height: 14px;
}
.cantfindaddressbtn{
  font-weight: 500;
    color: rgb(96, 240, 248);
    text-decoration: underline;
    background: none;
    border: none;
    padding: 0px;
    display: block;
    text-align: center;
    margin: 0px auto;
    font-size: 1.4rem;
}
.cantfindaddressbtn:focus {
  outline-style: auto;
  outline-offset: 3px;
  outline-color: rgb(240, 80, 248);
}
.cantfindaddressbtn:hover, .cantfindaddressbtn:focus {
  color: rgb(189, 242, 255);
  text-decoration: none;
  cursor: pointer;
  // border: 2px solid rgb(240, 80, 248);
}

.manualaddressentry{
  margin-top: 1.4rem;
  width: 100%;
  background-color: #180048;
}
.adressinnerdiv{
  padding:2rem 1rem;
}
.checkboxlabel3{
  margin-top: -29px;
  padding-left: 32px;
}
.checkboxdiv label{
  font-size: 17px;
}
// ****************************************************************
ul li {
  margin-top: 0.8rem;
  margin-bottom: 2.1rem;
  font-family: Gotham,helvetica,arial,sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    // line-height: 2.7rem;
}
.adressinnerdiv h5{
  font-weight: 600;
}
.adressinnerdiv p{
  font-size: 1.2rem;
}
.mitermismatchdiv{
  padding:2rem 1rem;
 
}
.mitermismatchdiv1{
  border: 0.1rem solid rgb(248, 192, 80);
  border-radius: 1.6rem;
  overflow: hidden;
}