<!-- <section class="maincontent">
    <div class="container">
        <div class="content">
            <div class="header">      
                <h1 class="h1-class">Great value for the long term,</h1>
                <h1 class="h1-class"> not just the fixed term.</h1>
            </div> 
            <div class="row mt-4 mb-5 pt-6">
                <div class="col-md-12">
                <form  autocomplete="off">
                    <label for="quote-input" class="form-join__label">Enter your postcode to get a quote:</label>
                    <div class="quote-postcode form-join">
                        <input type="text" class="form-join__input" name="postcode" id="" formControlName="postcode" placeholder="Your postcode" autocomplete="off">
                        <button type="submit" class="button form-join__button" value="">Get a quote</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</section> -->
