<div class="maincontent">
    <div class="container">
        <div class="content">
            <div class="details mt-5 mb-5">
                <h1 class="headingFirst">Hi abc..</h1>
                <a href="" class="personaltext">Personal details</a>
                <div class="maindiv">
                    <div class="firstdiv">
                        <h3>Your account balance</h3>
                        <p style="font-size: 1.4rem;">£ 17.54</p>
                        <p>
                            <button type="button" class="energypricebtn"> Why is my account in credit?</button>
                        </p>
                        <h3>Your monthy Payment are</h3>
                        <p style="font-size: 1.4rem;">£ 17.54</p>
                    </div>
                    <div class="seconddiv">
                        <p style="font-weight: 500;">
                            Six hours of smart charging every night at a super low rate. You tell us what time you need your car by, and we'll make sure it's ready on the very greenest energy.
                            Six hours of smart charging every night at a super low rate. You tell us what time you need your car by, and we'll make sure it's ready on the very greenest energy.
                            Six hours of smart charging every night at a super low rate. You tell us what time you need your car by, and we'll make sure it's ready on the very greenest energy.
                        </p>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>