<footer>
    <div class="container">
        <div class="row space-between mb-3 mb-md-0">
            <div class="col-12 col-md-7">
                <ul role="menubar" aria-label="Footer links" class="row mb-3">
                    <li role="menuitem" class="col-12 col-sm-6"><a href="help-and-support/index.html">Help &amp; FAQs</a></li>
                    <li role="menuitem" class="col-12 col-sm-6"><a href="contact-us/index.html">Contact us</a></li>
                    <li role="menuitem" class="col-12 col-sm-6"><a href="unhappy/index.html">Complaints</a></li>
                    <li role="menuitem" class="col-12 col-sm-6"><a href="careers/index.html">Careers</a></li>
                    <li role="menuitem" class="col-12 col-sm-6"><a href="press/index.html">Press</a></li>
                    <li role="menuitem" class="col-12 col-sm-6"><a href="policies/index.html">Our policies</a></li>
                    <li role="menuitem" class="col-12 col-sm-6"><a href="tariffs/index.html">Our tariffs</a></li>
                    <li role="menuitem" class="col-12 col-sm-6"><a href="accessibility/index.html">Accessibility</a></li>
                    <li role="menuitem" class="col-12 col-sm-6"><a href="https://tech.octopus.energy/">Tech blog</a></li>
                    <li role="menuitem" class="col-12 col-sm-6"><a href="#" id="cookie-preferences-reset">Change cookie settings</a></li>
                </ul>
                <!-- <div class="row mt-4 mb-3">
                    <div class="col-6 col-md-4">
                        <a href="https://apps.apple.com/gb/app/octopus-energy/id1093452209">
                            <img src="assets/icons/logos/app-store-badge.bdc4034b06e2.svg" alt="Download the Octopus Energy app on the App Store" class="svg pr-2">
                        </a>
                    </div>
                    <div class="col-6 col-md-4">
                        <a href="https://play.google.com/store/apps/details?id=energy.octopus.octopusenergy.android&amp;gl=GB">
                            <img src="assets/icons/logos/google-play-badge.faa5bff15595.png" alt="Download the Octopus Energy app on the Google Play Store">
                        </a>
                    </div>
                </div> -->
            </div>
            <div class="col-12 col-md-5 col-lg-4 col-xl-3 mb-3 mb-sm-0">
                <div class="row mb-3">
                    <div class="col-6 col-md-9 col-lg-10 space-between pl-0">
                        <a
                            href="https://www.facebook.com/octopusenergy"
                            target="_blank"
                            class="col-4"
                            onclick="window.dataLayer && window.dataLayer.push({'event': 'OE-home_fb-icon-click'});"
                            aria-label="Find Octopus Energy on Facebook"
                            rel="noopener noreferrer"
                        >
                            <img
                                src="assets/icons/icon-facebook.4db91ec059db.svg"
                                class="svg footerimg"
                                alt="Find Octopus Energy on Facebook"
                                loading="lazy"
                            >
                        </a>
                        <a
                            href="https://twitter.com/OctopusEnergy"
                            target="_blank"
                            class="col-4"
                            onclick="window.dataLayer && window.dataLayer.push({'event': 'OE-home_twitter-icon-click'});"
                            aria-label="Find Octopus Energy on Twitter"
                            rel="noopener noreferrer"
                        >
                            <img
                                src="assets/icons/icon-twitter.3f94e4a57ac6.svg"
                                class="svg footerimg"
                                alt="Find Octopus Energy on Twitter"
                                loading="lazy"
                            >
                        </a>
                        <a
                            href="https://www.instagram.com/octopusenergy"
                            target="_blank"
                            class="col-4"
                            onclick="window.dataLayer && window.dataLayer.push({'event': 'OE-home_insta-icon-click'});"
                            aria-label="Find Octopus Energy on Instagram"
                            rel="noopener noreferrer"
                        >
                            <img
                                src="assets/icons/icon-instagram.7e0a720f36f9.svg"
                                class="svg footerimg"
                                alt="Find Octopus Energy on Instagram"
                                loading="lazy"
                            >
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="mb-3">
            <p>Octopus Energy Ltd is a company registered in England and Wales.</p>
        </div> -->
    </div>
</footer>